body {
  width: 400px;
  height: 580px;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

#button1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
  border: 0px #031918;
}

#StartingScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
}

#title1 {
  position: fixed;
  width: 162px;
  height: 61px;
  left: 119px;
  top: 338px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #e5e5e5;
}

#line1 {
  position: fixed;
  width: 200px;
  height: 0px;
  left: 100px;
  top: 409.5px;
  border: 0.5px solid #8da4a5;
}

#text1 {
  position: fixed;
  width: 124px;
  height: 48px;
  left: 138px;
  top: 445px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  color: #e5e5e5;
}

#NameScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
}

#cornerName1 {
  position: fixed;
  top: 21px;
  left: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #e5e5e5;
}

#line2 {
  position: fixed;
  width: 340px;
  height: 0px;
  left: 30px;
  top: 58px;
  border: 0.5px solid #8da4a5;
}

#text2 {
  position: fixed;
  width: 192px;
  height: 24px;
  left: 104px;
  top: 277px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #e5e5e5;
}

#input1 {
  position: fixed;
  width: 173px;
  height: 28px;
  left: 113px;
  top: 312px;
  background: #031918;
  border: 1.2px solid #8da4a5;
  box-sizing: border-box;
  color: white;
}

#enter1 {
  position: fixed;
  width: 50px;
  height: 18px;
  left: 236px;
  top: 351px;
  background-color: #031918;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  border: 0px;
  color: #8da4a5;
}

#image1 {
  position: fixed;
  width: 137px;
  height: 137px;
  left: 131px;
  top: 144px;
}

#ToDo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
}

#image2 {
  position: fixed;
  width: 19px;
  height: 19px;
  left: 28px;
  top: 23px;
}

#title2 {
  position: fixed;
  width: 120px;
  height: 24px;
  left: 140px;
  top: 90px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #e5e5e5;
}

#rect1 {
  position: fixed;
  width: 320px;
  height: 152px;
  left: 40px;
  top: 135px;

  background: #031918;
  border: 4px solid #8da4a5;
  box-sizing: border-box;
}

#taskName {
  position: absolute;
  width: 260px;
  height: 36px;
  left: 70px;
  top: 172px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #e5e5e5;
}

#timer {
  position: fixed;
  width: 119px;
  height: 18px;
  left: 140px;
  top: 205px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #2d7975;
}

#pause {
  position: fixed;
  left: 190px;
  top: 235px;
  color: #e5e5e5;
  font-weight: 900;
  letter-spacing: 1px;
  background-color: #031918;
  border: 0px;
}

#highlight1 {
  position: fixed;
  width: 64px;
  height: 15px;
  left: 53px;
  top: 102px;

  background: rgba(141, 164, 165, 0.35);
}

#highlight2 {
  position: fixed;
  width: 117px;
  height: 15px;
  left: 238px;
  top: 103px;

  background: rgba(141, 164, 165, 0.35);
}

#text3 {
  position: fixed;
  width: 85px;
  height: 24px;
  left: 40px;
  top: 90px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #e5e5e5;
}

#text4 {
  position: fixed;
  width: 122px;
  height: 24px;
  left: 245px;
  top: 92px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #8da4a5;
}

#Completed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
}

#text5 {
  position: fixed;
  width: 85px;
  height: 24px;
  left: 40px;
  top: 90px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #8da4a5;
}

#text6 {
  position: fixed;
  width: 122px;
  height: 24px;
  left: 235px;
  top: 90px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #e5e5e5;
}

#line3 {
  width: 320px;
  height: 3px;
  background-color: #8da4a5;
  margin-left: 40px;
  margin-top: 135px;
}

#list {
  position: absolute;
  width: 320px;
  height: 210px;
  left: 40px;
  top: 312px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: #031918;
  color: #e5e5e5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

ul li {
  border-bottom: 1px solid #7e7e7e;
  background-color: #031918;
  padding: 12px;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #e5e5e5;
  display: block;
  position: relative;
}

ul li:hover {
  background-color: #7e7e7e;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: #ff8888;
}

#list2 {
  position: absolute;
  width: 320px;
  height: 350px;
  left: 40px;
  top: 170px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: #031918;
  color: #e5e5e5;
}

ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#tasktext {
  color: #e5e5e5;
  width: 210px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tasktimer {
  position: absolute;
  left: 69%;
  right: 13.07%;
  top: 38%;
  bottom: 26.83%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  letter-spacing: 0.1em;

  color: #8da4a5;
}

.select:hover {
  cursor: pointer;
}

#checkmark {
  position: absolute;
  width: 23px;
  height: 27px;
  left: 320px;
  top: 250px;
  color: #e5e5e5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 12px;
  text-align: right;
  background-color: #031918;
  border: 0px;
}

#addtask {
  position: absolute;
  width: 120px;
  height: 18px;
  left: 40px;
  top: 530px;
  background-color: #031918;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  border: 0px;
  color: #8da4a5;
}

#taskscount {
  position: absolute;
  width: 289px;
  height: 49px;
  left: 55px;
  top: 533px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #e5e5e5;
}

#timecomp {
  position: absolute;
  left: 80%;
  right: 13.07%;
  top: 38%;
  bottom: 26.83%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  letter-spacing: 0.1em;

  color: #8da4a5;
}

.popup1 {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  width: 400px;
  height: 580px;
  background-color: #031819;
  font-family: "Inter";
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

#lin2 {
  position: absolute;
  width: 315px;
  height: 0px;
  left: 41px;
  top: 548px;

  border: 0.5px solid #8da4a5;
}

h1 {
  position: absolute;
  width: 137px;
  height: 32px;
  left: 132px;
  top: 61px;

  font-weight: 700;
  font-size: 30px;
  text-align: center;

  color: #e5e5e5;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;

  color: #e5e5e5;
}

#taskname {
  position: absolute;
  width: 169px;
  height: 24px;
  left: 116px;
  top: 80px;
}

#websitesblock {
  position: absolute;
  width: 282px;
  height: 24px;
  left: 59px;
  top: 195px;
}

h3 {
  position: absolute;
  width: 283px;
  height: 16px;
  left: 56px;
  top: 228px;

  font-weight: 133;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.08em;

  color: #8da4a5;
}

#name {
  position: absolute;
  width: 283px;
  height: 37px;
  left: 59px;
  top: 128px;
  padding-left: 9px;
  background: #031918;
  border: 1.5px solid #8da4a5;
  box-sizing: border-box;
  color: #8da4a5;
  font-family: "Inter";
}

#websites {
  position: absolute;
  width: 282px;
  height: 80px;
  left: 57px;
  top: 270px;
  padding-left: 9px;
  background: #031918;
  border: 1.5px solid #8da4a5;
  box-sizing: border-box;
  color: #8da4a5;
  resize: none;
  font-family: "Inter";
  padding-top: 6px;
}

#cancel {
  position: absolute;
  width: 72px;
  height: 22px;
  left: 58px;
  top: 510px;
  background-color: #031819;
  font-weight: 380;
  font-size: 19px;
  border: 0px;
  color: #5b847f;
}

#create {
  position: absolute;
  width: 70px;
  height: 24px;
  left: 270px;
  top: 510px;
  background-color: #031819;
  font-weight: 380;
  font-size: 19px;
  text-align: right;
  border: 0px;
  color: #e5e5e5;
}

#homepage {
  background: #031819;
  width: 400px;
  height: 580px;
}

#gear {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 360px;
  top: 15px;
}

#gearbutton {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 360px;
  top: 15px;
  background: none;
  border: none;
}

.popup {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#settingscontent {
  background-color: #031819;

  position: absolute;
  width: 180px;
  height: 200px;
  left: 180px;
  top: 66px;

  font-family: "Inter";
  font-style: normal;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

#sTitle {
  position: absolute;
  width: 71px;
  height: 18px;
  left: 56px;
  top: 5px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #e3e3e3;
}

#nameTit {
  position: absolute;
  width: 31px;
  height: 12px;
  left: 22px;
  top: 38px;

  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #e5e5e5;
}

#nameinput {
  position: absolute;
  width: 140px;
  height: 26px;
  left: 22px;
  top: 63.45px;

  border: 1px solid #8da4a5;
  box-sizing: border-box;
  background: #031819;
  color: #8da4a5;
  padding-left: 5px;
}

#sleepingtime {
  position: absolute;
  width: 79px;
  height: 12px;
  left: 22px;
  top: 93px;

  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #e5e5e5;
}

#timeinput {
  position: absolute;
  width: 140px;
  height: 24px;
  left: 22px;
  top: 116.45px;

  border: 1px solid #8da4a5;
  box-sizing: border-box;
  background: #031819;
  color: #8da4a5;
  padding-left: 5px;
}

#notifs {
  position: absolute;
  width: 34px;
  height: 12px;
  left: 23px;
  top: 145px;

  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #e5e5e5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 22.5px;
  height: 12.75px;
  top: 138px;
  left: 138px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  border: solid 1px #8da4a5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 0px;
  bottom: 0px;
  background-color: #8da4a5;
  border: 1px #8da4a5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgba(91, 132, 127, 0.5);
  border-color: #8da4a5;
}

input:checked + .slider:before {
  background-color: #5b847f;
  -webkit-transform: translateX(9.75px);
  -ms-transform: translateX(9.75px);
  transform: translateX(9.75px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12.75px;
}

.slider.round:before {
  border-radius: 50%;
}

#Stats {
  width: 400px;
  height: 580px;
  background-color: #031819;
}

#closebutton {
  background-color: #031819;
  position: absolute;
  width: 86px;
  height: 18px;
  top: 545px;
  left: 170px;
  color: #2d7975;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 12px;
}

#closebutton:hover {
  cursor: pointer;
}

#actsum {
  position: absolute;
  left: 100px;
  top: 79px;
  background-color: #031819;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #e5e5e5;
}

#highlight3 {
  position: absolute;
  left: 102px;
  width: 200px;
  top: 92px;
  height: 16px;
  background: rgba(141, 164, 165, 0.35);
}

#bottomline {
  position: absolute;
  width: 232px;
  top: 418px;
  left: 76px;
  background-color: #031819;
  border: 0.8px solid #5b847f;
}

#sideline {
  position: absolute;
  width: 232px;
  top: 300px;
  left: -40px;
  background-color: #031819;
  border: 0.8px solid #5b847f;
  transform: rotate(-90.23deg);
}

#taskscompleted {
  position: absolute;
  width: 150px;
  height: 20px;
  top: 135px;
  left: 140px;
  background-color: #031819;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;

  color: #e5e5e5;
}

#hoursspent {
  position: absolute;
  width: 80px;
  height: 16px;
  top: 290px;
  left: 0px;
  background-color: #031819;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;

  color: #e5e5e5;

  transform: rotate(-90.07deg);
}

#box {
  position: absolute;
  width: 35px;
  height: 218px;
  top: 200px;
  left: 88px;
  background-color: #031819;
  background: #8da4a5;
  border: 1.2px solid #8da4a5;
  box-sizing: border-box;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

#tname {
  position: absolute;
  left: 68px;
  top: 455px;
  width: 75px;
  height: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.1em;
  transform: rotate(-90.07deg);
  color: #e5e5e5;
}

#graph {
  position: absolute;
  left: 80px;
  width: 280px;
  height: 525px;
  overflow: scroll;
  overflow-y: hidden;
}

#cm {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 155px;
  left: 140px;
  border: 0px;
  color: #e3e3e3;
  background-color: #031819;
}

#dropdownname {
  position: absolute;
  width: 260px;
  height: 36px;
  left: 70px;
  top: 370px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #e5e5e5;
}

#dropdown {
  position: absolute;
  width: 283px;
  height: 37px;
  left: 59px;
  top: 420px;
  padding-left: 9px;
  background: #031918;
  border: 1.5px solid #8da4a5;
  box-sizing: border-box;
  color: #8da4a5;
  font-family: "Inter";
}
