body {
  width: 400px;
  height: 580px;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

#button1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
  border: 0px #031918;
}

#StartingScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
}

#title1 {
  position: fixed;
  width: 162px;
  height: 61px;
  left: 119px;
  top: 338px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #e5e5e5;
}

#line1 {
  position: fixed;
  width: 200px;
  height: 0px;
  left: 100px;
  top: 409.5px;
  border: 0.5px solid #8da4a5;
}

#text1 {
  position: fixed;
  width: 124px;
  height: 48px;
  left: 138px;
  top: 445px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  color: #e5e5e5;
}

#NameScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
}

#cornerName1 {
  position: fixed;
  top: 21px;
  left: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #e5e5e5;
}

#line2 {
  position: fixed;
  width: 340px;
  height: 0px;
  left: 30px;
  top: 58px;
  border: 0.5px solid #8da4a5;
}

#text2 {
  position: fixed;
  width: 192px;
  height: 24px;
  left: 104px;
  top: 277px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #e5e5e5;
}

#input1 {
  position: fixed;
  width: 173px;
  height: 28px;
  left: 113px;
  top: 312px;
  background: #031918;
  border: 1.2px solid #8da4a5;
  box-sizing: border-box;
  color: white;
}

#enter1 {
  position: fixed;
  width: 50px;
  height: 18px;
  left: 236px;
  top: 351px;
  background-color: #031918;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  border: 0px;
  color: #8da4a5;
}

#image1 {
  position: fixed;
  width: 137px;
  height: 137px;
  left: 131px;
  top: 144px;
}

#ToDo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
}

#image2 {
  position: fixed;
  width: 19px;
  height: 19px;
  left: 28px;
  top: 23px;
}

#title2 {
  position: fixed;
  width: 120px;
  height: 24px;
  left: 140px;
  top: 90px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #e5e5e5;
}

#rect1 {
  position: fixed;
  width: 320px;
  height: 152px;
  left: 40px;
  top: 135px;

  background: #031918;
  border: 4px solid #8da4a5;
  box-sizing: border-box;
}

#taskName {
  position: absolute;
  width: 260px;
  height: 36px;
  left: 70px;
  top: 172px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #e5e5e5;
}

#timer {
  position: fixed;
  width: 119px;
  height: 18px;
  left: 140px;
  top: 205px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #2d7975;
}

#pause {
  position: fixed;
  left: 190px;
  top: 235px;
  color: #e5e5e5;
  font-weight: 900;
  letter-spacing: 1px;
  background-color: #031918;
  border: 0px;
}

#highlight1 {
  position: fixed;
  width: 64px;
  height: 15px;
  left: 53px;
  top: 102px;

  background: rgba(141, 164, 165, 0.35);
}

#highlight2 {
  position: fixed;
  width: 117px;
  height: 15px;
  left: 238px;
  top: 103px;

  background: rgba(141, 164, 165, 0.35);
}

#text3 {
  position: fixed;
  width: 85px;
  height: 24px;
  left: 40px;
  top: 90px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #e5e5e5;
}

#text4 {
  position: fixed;
  width: 122px;
  height: 24px;
  left: 245px;
  top: 92px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #8da4a5;
}

#Completed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 580px;
  background-color: #031918;
}

#text5 {
  position: fixed;
  width: 85px;
  height: 24px;
  left: 40px;
  top: 90px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #8da4a5;
}

#text6 {
  position: fixed;
  width: 122px;
  height: 24px;
  left: 235px;
  top: 90px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #e5e5e5;
}

#line3 {
  width: 320px;
  height: 3px;
  background-color: #8da4a5;
  margin-left: 40px;
  margin-top: 135px;
}

#list {
  position: absolute;
  width: 320px;
  height: 210px;
  left: 40px;
  top: 312px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: #031918;
  color: #e5e5e5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

ul li {
  border-bottom: 1px solid #7e7e7e;
  background-color: #031918;
  padding: 12px;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #e5e5e5;
  display: block;
  position: relative;
}

ul li:hover {
  background-color: #7e7e7e;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: #79aa84;
}

#list2 {
  position: absolute;
  width: 320px;
  height: 350px;
  left: 40px;
  top: 182px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: #031918;
  color: #e5e5e5;
}

ul::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

#tasktext {
  color: #e5e5e5;
  width: 210px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tasktimer {
  position: absolute;
  left: 72.5%;
  right: 13.07%;
  top: 43.9%;
  bottom: 26.83%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.1em;

  color: #8da4a5;
}

.select:hover {
  cursor: pointer;
}
